DATABASE_URL="mysql://user:password@localhost:3306/db_name?schema=public"

# CLERK
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YXdhaXRlZC1waXBlZmlzaC0yNi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_DXBTwoNlfMo8D8MeewRgDYnKH6HHfwiQFMgShKx86M