@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --color-primary: #036eb7;
  --color-secondary: #fdc622;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "ClashDisplay-Extralight";
  src: url("/fonts/clashdisplay/ClashDisplay-Extralight.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Extralight.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Light";
  src: url("/fonts/clashdisplay/ClashDisplay-Light.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Light.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("/fonts/clashdisplay/ClashDisplay-Regular.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Regular.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("/fonts/clashdisplay/ClashDisplay-Medium.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Medium.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("/fonts/clashdisplay/ClashDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Semibold.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("/fonts/clashdisplay/ClashDisplay-Bold.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Bold.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("/fonts/clashdisplay/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/clashdisplay/ClashDisplay-Variable.woff") format("woff"),
    url("/fonts/clashdisplay/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

.clashdisplay {
  font-family: "ClashDisplay-Regular";
}

.clashdisplay-bold {
  font-family: "ClashDisplay-Bold";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

/* Adding CSS for Sidebar Layout */

@utility menu-item {
  @apply relative flex items-center w-full gap-3 px-3 py-2 font-light rounded-lg;
}

@utility menu-item-active {
  @apply bg-slate-100 text-slate-500;
}

@utility menu-item-inactive {
  @apply text-gray-700 hover:bg-gray-100 group-hover:text-gray-700;
}

@utility menu-item-icon {
  @apply text-gray-500 group-hover:text-gray-700;
}

@utility menu-item-icon-active {
  @apply text-slate-500;
}

@utility menu-item-icon-inactive {
  @apply text-gray-500 group-hover:text-gray-700;
}

@utility menu-item-arrow {
  @apply relative;
}

@utility menu-item-arrow-active {
  @apply rotate-180 text-slate-500;
}

@utility menu-item-arrow-inactive {
  @apply text-gray-500 group-hover:text-gray-700;
}

@utility menu-dropdown-item {
  @apply relative flex items-center gap-3 rounded-lg px-3 py-2.5 font-medium text-[14px];
}

@utility menu-dropdown-item-active {
  @apply bg-slate-50 text-slate-500;
}

@utility menu-dropdown-item-inactive {
  @apply text-gray-700 hover:bg-gray-100;
}

@utility menu-dropdown-badge {
  @apply block rounded-full px-2.5 py-0.5 text-xs font-medium uppercase text-slate-500;
}

@utility menu-dropdown-badge-active {
  @apply bg-slate-100;
}

@utility menu-dropdown-badge-inactive {
  @apply text-gray-100 bg-slate-50 group-hover:bg-slate-100;
}

.libre-franklin {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 800; */
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
